.full-height {
	height: 100%;
}

.color-space {
	display: none;
}

.bleed {
    opacity: .9;
}

.bleed h2 {
    padding-top: .75em;
    margin-top: 0px;

}

.bleed a {
    color: rgba(51, 51, 51, .9);
}

.bleed a:hover {
    color: rgba(51, 51, 51, .8);
}
