/* Application CSS */
#iron-router-progress {
    background-color: #428bca;
    box-shadow: 0 0 5px #428bca;
}

#iron-router-progress.spinner:before {
    border-color : #428bca;
}

/* Blog CSS */
body, p, ul {
	font-family: "freight-text-pro", serif;
	line-height: 1.5em;
	font-weight: 400;
	margin-top: 1.304347826em;
	margin-bottom: 1.304347826em;
}

h1, h2, h3 {
	font-family: "myriad-pro", sans-serif;
	font-weight: 600;
}

blockquote {
	font-size: inherit;
	padding-top: inherit;
	color: rgba(0, 0, 0, 0.75);
}

h1 {
	font-size: 3.29em;
}

h1 {
	font-size: 2.530769231em;
}

article {
	margin: auto;
	color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 680px) {
	body, p, ul {
		font-size: 1.5em;
	}

	article {
		width: 640px;
	}
}

@media (max-width: 679px) {
	body, p, ul {
		font-size: 1.35em;
	}
}

/* Home Screen CSS */
.home {
  background: url(/sean.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body, .home {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.transparent {
  opacity: 0;
}

.fade-in {
  -webkit-animation: fadeIn 1.2s .3s forwards;
     -moz-animation: fadeIn 1.2s .3s forwards;
       -o-animation: fadeIn 1.2s .3s forwards;
          animation: fadeIn 1.2s .3s forwards;
}

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
