<template name="colors">
<div class="container-fluid full-height">
	<div class="row full-height bleed">
		<div class="col-md-3 full-height full-column color-space">
			<h2>THOUGHTS</h2>
			<ul class="list-unstyled">
				<li><a href="https://twitter.com/sean_a_rose">twitter</a></li>
				<li><a href="https://www.quora.com/Sean-Rose">quora</a></li>
			</ul>
		</div>
		<div class="col-md-3 full-height full-column color-space">
			<h2>FUN</h2>
			<ul class="list-unstyled">
				<li><a href="http://instagram.com/seanrose">instagram</a></li>
				<li><a href="http://www.pinterest.com/seanrose/pins/">pinterest</a></li>
			</ul>
		</div>
		<div class="col-md-3 full-height full-column color-space">
			<h2>ESSAYS</h2>
			<ul class="list-unstyled">
				<li><a href="http://seanrose.co/finding-fulfilling-work">finding fulfilling work</a></li>
			</ul>		
		</div>
		<div class="col-md-3 full-height full-column color-space">
		</div>
	</div>
</div>
</template>
